.div1{background: lightblue; text-align: justify; padding: 10px;}
.div2{background: purple;color: white; text-align: justify; padding: 20px;}
.div3{background: orange;  padding: 10px;}
.data{font-size: 90px; }

